#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  xheight: 300px;
  margin: 0 100px;
}

.photograph-filter {
  padding: 20px 100px 58px;
  font-size: 1.8rem;
  font-weight: bold;
}

.photograph-filter select {
  font: inherit;
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem;
  border: none;
}

.photograph-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 100px;
  gap: 20px 95px;
}

.photograph-media .link {
  display: block;
  width: 350px;
  height: 300px;
}

.media {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.photograph-media .title {
  font-size: 2.4rem;
}

.heart {
  background: transparent no-repeat center / contain
    url(./../assets/icons/heart.svg) !important;
}

.card-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-like:hover {
  animation: beat 0.7s infinite ease-in-out;
}

@keyframes beat {
  0%,
  25%,
  45%,
  65%,
  100% {
    transform: scale(1);
  }
  15%,
  55% {
    transform: scale(1.2);
  }
  35%,
  75% {
    transform: scale(1);
  }
}

.btn-primary {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.1rem;
  height: 7rem;
  min-width: 17rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
