#lightbox {
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  padding: 2rem;
  border-radius: 0.5rem;
}

#lightbox::backdrop {
  background-color: white;
}

#lightbox[open] {
  display: flex;
}

#lightbox .content {
  display: grid;
  grid-template-columns: 7.2rem 1fr 7.2rem;
  grid-template-rows: 7.2rem 1fr 7.2rem;
  grid-template-areas:
    "empty1 figure close"
    "previous figure next"
    "empty2 figure empty3";
}

#lightbox .lightbox-figure {
  grid-area: figure;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;

  max-width: 100%;
  max-height: 100%;
  overflow: hidden;

  font-size: 2.4rem;
  color: var(--primary-color);
}

#lightbox img,
#lightbox video {
  object-fit: contain;
  overflow: hidden;
  max-width: 100%;
  max-height: 80vh;
}

#contact::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
}

.hidden {
  display: none !important;
}

.btn-previous,
.btn-next,
.btn-close {
  display: block;
  border: none;
  cursor: pointer;
  background: transparent;
  width: 100%;
  aspect-ratio: 1;
  xheight: 9.6rem;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
}

#lightbox .btn-close {
  grid-area: close;
  background-image: url(../assets/icons/close-24px\ 1.svg);
}

#lightbox .btn-previous {
  grid-area: previous;
  background-image: url(../assets/icons/expand_more-24px\ 4.svg);
}

#lightbox .btn-next {
  grid-area: next;
  background-image: url(../assets/icons/expand_more-24px\ 5.svg);
}

.sr-only {
  display: none;
}

x.modal {
  position: absolute;
  display: none;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

x.modal.show {
  display: block;
}

.modal-content {
  position: fixed;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal-content header {
  justify-content: space-between;
  width: 100%;
}

.modal-content header img {
  cursor: pointer;
}

.modal-content header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

.photograph-header {
  background-color: #fafafa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  xheight: 300px;
  margin: 0 100px;
}

.photograph-filter {
  padding: 20px 100px 58px;
  font-size: 1.8rem;
  font-weight: bold;
}

.photograph-filter select {
  font: inherit;
  color: #fff;
  background-color: var(--primary-color);
  padding: 1rem;
  border: none;
}

.photograph-media {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 100px;
  gap: 20px 95px;
}

.photograph-media .link {
  display: block;
  width: 350px;
  height: 300px;
}

.media {
  object-fit: cover;

  width: 100%;
  height: 100%;
}

.photograph-media .title {
  font-size: 2.4rem;
}

.heart {
  background: transparent no-repeat center / contain
    url(./../assets/icons/heart.svg) !important;
}

.card-likes {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}

.btn-like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.7em;
  height: 1.7em;
  border: none;
  background: none;
  cursor: pointer;
}

.btn-like:hover {
  animation: beat 0.7s infinite ease-in-out;
}

@keyframes beat {
  0%,
  25%,
  45%,
  65%,
  100% {
    transform: scale(1);
  }
  15%,
  55% {
    transform: scale(1.2);
  }
  35%,
  75% {
    transform: scale(1);
  }
}

.btn-primary {
  font-size: 2rem;
  font-weight: bold;
  padding: 1.1rem;
  height: 7rem;
  min-width: 17rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: var(--primary-color);
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-aside {
  position: fixed;
  display: flex;
  gap: 2em;
  bottom: 0;
  right: calc(50vw - 670px);
  padding: 3rem;
  background-color: #db8876;
  font-size: 2.4rem;
  font-weight: bold;
}
