@import url("photographer.css");

:root {
  --primary-color: #901c1c;
  --secondary-color: #d3573c;
  --tertiary-color: #757575;

  --portrait-size: 200px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  padding: 20px 100px;
}

.title {
  color: var(--primary-color);
  font-size: 3.6rem;
}

.portrait {
  display: inline-block;
  height: var(--portrait-size);
  width: var(--portrait-size);

  object-fit: cover;
  border-radius: 50%;
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.25));
}

.name {
  color: var(--secondary-color);
}

.location {
  color: var(--primary-color);
}

.price {
  color: var(--tertiary-color);
}

.logo {
  height: 50px;
}

.photographer_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 7rem;
  margin-top: 10rem;
}

.photographer_section .card {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

.photographer_section .link {
  text-align: center;
}

.photographer_section .name {
  font-size: 2.25em;
}

.photographer_section .location {
  font-size: 0.8125em;
}

.photographer_section .tagline {
  font-size: 0.625em;
}

.photographer_section .price {
  font-size: 0.5625em;
}
